* {
    margin: 0;
    padding: 0;
    direction: rtl;
}


a {
    text-decoration: none;
}

@font-face {
    font-family: Shabnam;
    src: url('../fonts/Shabnam.eot');
    src: url('../fonts/Shabnam.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Shabnam.woff2') format('woff2'),
    url('../fonts/Shabnam.woff') format('woff'),
    url('../fonts/Shabnam.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Shabnam;
    src: url('../fonts/Shabnam-Bold.eot');
    src: url('../fonts/Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Shabnam-Bold.woff2') format('woff2'),
    url('../fonts/Shabnam-Bold.woff') format('woff'),
    url('../fonts/Shabnam-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Shabnam;
    src: url('../fonts/Shabnam-Thin.eot');
    src: url('../fonts/Shabnam-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Shabnam-Thin.woff2') format('woff2'),
    url('../fonts/Shabnam-Thin.woff') format('woff'),
    url('../fonts/Shabnam-Thin.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: Shabnam;
    src: url('Shabnam-Light.eot');
    src: url('Shabnam-Light.eot?#iefix') format('embedded-opentype'),
    url('Shabnam-Light.woff2') format('woff2'),
    url('Shabnam-Light.woff') format('woff'),
    url('Shabnam-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: Shabnam;
    src: url('../fonts/Shabnam-Medium.eot');
    src: url('../fonts/Shabnam-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Shabnam-Medium.woff2') format('woff2'),
    url('../fonts/Shabnam-Medium.woff') format('woff'),
    url('../fonts/Shabnam-Medium.ttf') format('truetype');
    font-weight: 500;
}


/*
    Header
*/
header {
    display: grid;
    width: 100%;
    direction: rtl;
    background-color: black;
    grid-template-columns: auto 1fr auto;
    padding: 20px;
    box-sizing: border-box;
}
header .logo {
    font: 30px Shabnam;
    color: white;
    font-weight: bold;
    margin: 0 100px 0 20px;

}
header .links {
    display: flex;
    align-items: center;
    list-style: none;
}
header .links li a {
    margin: 0 10px;
    font: 18px Shabnam;
    color: white;
}

header .links li:first-child a {
    background-color: #404040;
    padding: 5px 15px;
    border-radius: 20px;
}



header .search-users {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-left: 20px;
}
header .search-users svg {
    width: 30px;
    height: 30px;
    fill: white;
}
.posts {
    margin: 20px 0 0 0;
}
.posts-container {
    display: grid;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3px;
    grid-template-rows: repeat(12, minmax(20px, auto));
}

.posts .big-post {
    grid-column: span 2;
    grid-row: span 2;
}
.posts .post img {
    width: 100%;
    height: 100%;
}
.posts .post-title-container {
    position: absolute;
    bottom: 30px;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;

}
.posts .post-title {
    text-shadow: 1px 1px 3px #000;
    color: white;
    font: 28px Shabnam;
    font-weight: bold;
    text-align: right;
    max-width: 90%;
    margin:  0 auto;
}
.posts .post {
    position: relative;
}


.posts .long-post {
    grid-row: span 2;
    overflow: inherit;
}
.posts .long-post img {
    width: 100%;
}
.posts .long-post-img {
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url("https://cdn01.zoomit.ir/2020/11/apple-macbook-pro-displaying-things.jpg?w=750");
    background-repeat: no-repeat;
    background-position: center center;
}

.list-posts {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}
.list-posts .list-posts-head {
    font: 32px Shabnam;
    color: black;
    box-sizing: border-box;
    padding: 5px 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
.list-posts .list-posts-items {
    display: grid;
    gap: 10px;
    margin: 0 10px;
    grid-template-columns: repeat(5, 1fr);

}

.list-posts .post-item .post-item-title {
    box-sizing: border-box;
    padding: 10px 5px;
    font: 22px Shabnam;
}
.list-posts .post-item img {
    width: 100%;
    border: 1px solid #ccc;

}



.content {
    display: grid;
    width: 100%;
    background-color: azure;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
    padding: 0 20px;
    box-sizing: border-box;
}
.article {
    background-color: white;
    margin: 20px 0;
}
.article h2 {
    font: 32px Shabnam;
    font-weight: bold;
    box-sizing: border-box;
    padding: 40px 30px 30px 30px;
}
.article .post-author {
    width: 100%;
    display: grid;
    box-sizing: border-box;
    padding: 0 30px;
    grid-template-columns: 100px 1fr;
    margin-bottom: 20px;
}
.article .post-author .post-author-profile {
    grid-row: span 2;
    text-align: center;
}
.article .post-author .post-author-profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;

}
.article .post-author .post-author-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    grid-row: span 2;
}
.article .post-author .post-author-info h3 {
    font: 20px Shabnam;
    font-weight: normal;
    margin-bottom: 5px;
}
.article .post-author .post-author-info p {
    font: 15px Shabnam;
    color: rgb(153, 153, 153);
}
.article .post-img {
    width: 100%;
}
.article .post-img img {
    width: 100%;
    margin-bottom: 20px;

}
.article .post-content {
    box-sizing: border-box;
    padding: 20px 50px;
    font: 20px Shabnam;
}
.article .post-content a {
    color: #e51a2d;
}
.article .post-content img {
    margin: 25px 0;
}
.article .post-content ul {
    list-style: inside;
}
.sidebar-title {
    font: 30px Shabnam;
    font-weight: bold;
    color: rgb(51, 51, 51);
    margin: 20px 0;
    text-align: center;
}
.sidebar-item {
    width: 100%;
    margin-bottom: 20px;
}
.sidebar-item img {
    width: 100%;
}
.sidebar-item a {
    font: 20px Shabnam;
    box-sizing: border-box;
    padding: 0 5px;
    color: rgb(51, 51, 51);
}
.sidebar  {
    display: grid;
    background-color: white;
    margin: 20px 0;
}
.sidebar .sidebar-container .col {
    padding: 0 10px 0 25px;

}
.table-container {
    max-width: 1024px;
    margin: 100px auto;
    display: grid;
    width: 100%;
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
    grid-template-columns: 3fr 7fr;
}
.table-head {
    margin: 10px auto;
    background-color: red;
    width: 100%;
    grid-column: span 2;
    font: 22px Shabnam;
    font-weight: bold;
    box-sizing: border-box;
    padding: 10px 30px;
    color: white;
}
.table-container .label, .table-container .email {
    background-color: #e5e5e5;
    padding: 10px;
}

@media (max-width: 1650px) {
    .content {
        grid-template-columns: 2fr 5fr;
    }

}
@media (max-width: 1350px) {
    .posts-container {
        max-width: 1000px;
    }
    .posts .post-title {
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    .posts-container {
        max-width: 800px;
    }
    .posts .post-title {
        font-size: 20px;
    }
    .list-posts .list-posts-items {
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));

    }
}